<div class="card mt-5">
  <div class="card-body">
    <h3 class="card-title text-center" style="color: #487aca; font-family: Russo One; font-size: 20px;">Please enter your email</h3>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        [formControl]="userEmail"
        required
      />
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary btn-lg" style="background-color: #487aca; font-family: Russo One" (click)="onReset()">
        <span>Resetear Password</span>
      </button>
    </div>
    <div class="form-group text-center">
      <button class="btn btn-primary btn-lg" style="background-color: #487aca; font-family: Russo One" [routerLink]="['/login']">
        <span>Volver</span>
      </button>
    </div>
  </div>
</div>

