<div class="container" style="background-color: white;">
<div class="container" style="margin-top: 50px">

</div>
  <!-- Cabecera, solo aparece cuando estamos logueados -->
  <div class="row mt-4" *ngIf="authService.isAuthenticated()">
    <div class="col-12">
      <app-header></app-header>
    </div>
  </div>
</div>
<div class="container" style="background-color: white;">

  <!-- Contenido, cuando no estamos logueados, aparece un margen superior -->
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
