<div class="container h-100" id="login">
  <div class="d-flex justify-content-center h-100">
<div class="user_card">
    <!-- logo de la app -->
    <div class="d-flex justify-content-center">
      <div class="brand_logo_container">
        <img width="75" [src]="config.logoLogin" class="brand_logo" alt="Logo" />
      </div>
    </div>
    <!-- Muestra el error -->
    <div class="row" *ngIf="showLoginError">
      <div class="col-12">
        <div class="alert alert-danger" role="alert">
          <strong>{{'label.login.error' | translate}}</strong>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center form_container" style="margin-top: 30px;" >
      
        <form [formGroup]="formLogin" (ngSubmit)="checkLogin()">

          <!-- Email -->
          <div class="w3-container has-feedback" style="margin-top: 10px;">
            
              <label for="email" style="color: rgb(0, 0, 0); font-family: Arial, Helvetica, sans-serif; Font-size: 16px">{{'label.user' | translate}}</label>
              
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user " aria-hidden="true" style="color:rgb(255, 255, 255)"></i>
                </span>
                </div>
              <input placeholder="Email"class="form-control input_user input-field" type="email" formControlName="email" class="form-control" id="email">
            </div>
            
          </div>

          <!-- Contraseña-->
          <div class="form-group has-feedback">
            <div class="form-group has-feedback" style="margin-top: 15px;">
              <label for="pass" style="color: rgb(0, 0, 0);font-family: Arial, Helvetica, sans-serif; Font-size: 16px" >{{'label.pass' | translate}}</label>
              
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                  <i class="fa fa-unlock-alt" style="color:rgb(255, 255, 255)" aria-hidden="true"></i>
                </span>
                </div>
              <input [type]="fieldTextType ? 'text' : 'password'" [type]="fieldTextType ? 'text' : 'password'" placeholder="Contraseña "class="form-control input_pass input-field" type="password" formControlName="pass"  id="pass">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }"
                    (click)="toggleFieldTextType()"
                  ></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <form [formGroup]="aFormGroup">
          <ngx-recaptcha2 #captchaElem siteKey="6Lf9QxUqAAAAACn4NLRqSEWFNwKlC5FbrCtbzoSc" (success)="handleSuccess($event)" 
          formControlName="recaptcha">
          </ngx-recaptcha2>
          </form>
            <div class="d-flex justify-content-center mt-3 login_container" style="position:center; left: 480px;">
              <button style="margin-top: 20px; font-family: Arial, Helvetica, sans-serif" class="btn login_btn" type="submit" [disabled]="formLogin.invalid || !aFormGroup.valid">
                {{'label.login' | translate}}
              </button>
            </div>
           

            <div class="d-flex justify-content-center mt-3 login_container" style="position:center; left: 448px">
              <button style="font-family: Arial, Helvetica, sans-serif; Font-size: 16px" class="btn login_btn" onClick="location.href='https://www.google.com/?gws_rd=ssl'">
                Cerrar Ventana
              </button>
            </div>

          <!-- Link enlace create account -->

            <div class="d-flex justify-content-center mt-3 login_container">
              <a href="#" style="margin-top: 20px; color:#000000;font-family: Arial, Helvetica, sans-serif;
              font-weight: 100; " [routerLink]="['/create-account']">{{'label.create.account' | translate}}</a>
            </div>

          <div class="d-flex justify-content-center mt-3 login_container">
            <p>
              <a style="color: #000000;font-family: Arial, Helvetica, sans-serif; font-weight: 100; " [routerLink]="['/forgot-password']"> Olvidaste tu contraseña? </a>
            </p>
          </div>

        </form>
      
    </div>
</div>

  </div>
</div>
