<form>
  <div class="row form-group">
   
    <!-- Select de años -->
    <div class="col-lg-4 col-md-3 col-12" *ngIf="showYears">
      <label for="assettype" style="font-family: Arial; font-size: 16px; font-weight: bold; color: #000000">{{'label.year' | translate}}</label>
      <select
        class="custom-select"
        name="year"
        id="year"
        [(ngModel)]="filterForm.year"
        (change)="filterData()">
        <option value="{{year}}" *ngFor="let year of years">{{year}}</option>
      </select>
    </div>

     <div class="col-lg-2 col-md-3 col-12 align-self-end" *ngIf="showDateStartEnd"  style="position:center; left:-1px; top:2px;">
      <div class="col-lg-12 col-md-10 col-12 align-self-end" style="position:center; left:90px; top:2px; ">
        <label style="white-space: pre;font-family: Arial; font-size: 16px; font-weight: bold; color: #000000">Busqueda por fechas</label>
      </div>
      <label for="dateStart" style="font-family: Arial; font-size: 16px; color: #000000" >{{'label.date.start' | translate}}</label>
      <p-calendar
        showButtonBar="true"
        dateFormat="dd/mm/yy"
        inputStyleClass="form-control"
        name="dateStart"
        id="dateStart"
        [locale]="locale"
        [readonlyInput]="false"
        [(ngModel)]="filterForm.dateStart"
        (onSelect)="filterData()"
        (onTodayClick)="filterData()"
        (onClearClick)="filterData()">
      </p-calendar>
    </div>

    <!-- Fecha de fin -->
     <div class="col-lg-2 col-md-3 col-12 align-self-end" *ngIf="showDateStartEnd"   style="position:center; left:-1px; top:2px;">
      <label for="dateEnd" style="font-family: Arial; font-size: 16px; color: #000000">{{'label.date.end' | translate}}</label>
      <p-calendar
        showButtonBar="true"
        dateFormat="dd/mm/yy"
        inputStyleClass="form-control"
        name="dateEnd"
        id="dateEnd"
        [locale]="locale"
        [readonlyInput]="false"
        [(ngModel)]="filterForm.dateEnd"
        (onSelect)="filterData()"
        (onTodayClick)="filterData()"
        (onClearClick)="filterData()">
      </p-calendar>
    </div>


 <div class="col-lg-2 col-12 align-self-end"  *ngIf="!showYears" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}"  style="position:center; left:-1px; top:2px;">
  <div class="col-lg-14 col-md-10 col-12 align-self-end" style="position:center; left:80px; top:2px; color: #000000">
    <label style="white-space: pre;font-family: Arial; font-size: 16px; font-weight: bold;">Busqueda por precios</label>
  </div>
  <label for="priceMin" style="font-family: Arial; font-size: 16px; color: #000000">{{'label.price.min' | translate}}</label>
  <input type="text"
  class="form-control"
  style="background-color:  white"
    name="priceMin"
    id="priceMin"
    (keyup)="filterData()"
    [(ngModel)]="filterForm.priceMin" autocomplete="off">
</div>

<!-- Cantidad Maxima -->
<div class="col-lg-2 col-12 align-self-end" *ngIf="!showYears" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}"  style="position:center; left:-1px; top:2px;">
  <label for="priceMax" style="font-family: Arial; font-size: 16px; color: #000000">{{'label.price.max' | translate}}</label>
  <input type="text"
  class="form-control"
  style="background-color: white"
    name="priceMax"
    id="priceMax"
    (keyup)="filterData()"
    [(ngModel)]="filterForm.priceMax" autocomplete="off">
</div>
<div class="col-lg-2 col-12 align-self-end" *ngIf="!showYears" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}"  style="position:center; left:-1px; top:2px;">
  <label for="agencia" style="font-family: Arial; font-size: 16px; color: #000000">Agencia</label>
  
    <select [(ngModel)]="filterReg.agencia" (ngModelChange)="filterData()" class="custom-select" name="agencia">
      <option></option>
      <option *ngFor= "let obranch of obranches; let i = index" (ngvalue)="obranch.name">{{obranch.name}}</option>
      
</select>
</div>
<div class="col-lg-2 col-12 align-self-end" *ngIf="!showYears" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}"  style="position:center; left:-1px; top:2px;">
  <label for="asset" style="font-family: Arial; font-size: 16px; color: #000000">Tipo de activo</label>
  
    <select [(ngModel)]="filterReg.idActivofijo" (ngModelChange)="filterData()" class="custom-select" name="idActivofijo">
      <option></option>
      <option *ngFor= "let atype of atypes; let i = index" (ngvalue)="atype.name">{{atype.name}}</option>
      
</select>
</div>
<div class="col-lg-2 col-12 align-self-end" *ngIf="!showYears" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}"  style="position:center; left:-1px; top:2px;">
  <label for="estado" style="font-family: Arial; font-size: 16px; color: #000000">Estado</label>
  <select [(ngModel)]="filterReg.estado" (ngModelChange)="filterData()" class="custom-select" name="estado">
    <option></option>
          <option placeholder="oestado.name" *ngFor= "let oestado of oestados; let i = index" (ngvalue)="oestado.name">{{oestado.name}}</option>
          
    </select>
 
</div>
<div class="col-lg-2 col-12 align-self-end" *ngIf="!showYears" [ngClass]="{'col-md-3': showYears, 'col-md-2': !showYears}"  style="position:center; left:-1px; top:2px;">
  <label for="responsable" style="font-family: Arial; font-size: 16px; color: #000000">Responsable</label>

    <select [(ngModel)]="filterReg.responsable" (ngModelChange)="filterData()" class="custom-select" name="responsable">
      <option></option>
      <option placeholder="oestado.responsable" *ngFor= "let oresponsable of oresponsables; let i = index" (ngvalue)="oresponsable.name">{{oresponsable.name}}</option>
      
    
</select>

</div>
  </div>

</form>
